body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #276578;
  color: white;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.search-engine {
  flex: 1;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-engine i {
  font-size: 22px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}
.nav-right i {
  font-size: 22px;
  cursor: pointer;
}
.nav-right i:hover {
  /* color: rgb(10, 72, 93); */
  font-size: 24px;
  transition: ease-in-out 0.2s;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 160px;
  background: #276578;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 8px;
  z-index: 1000;
}

.dropdown-menu p {
  padding: 8px;
  margin: 0;
  cursor: pointer;
}

.dropdown-menu p:hover {
  background: rgb(95, 133, 169);
}

.logout {
  color: red;
  font-weight: bold;
}
.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
